@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
}
header{
     background-color: rgba(255,255,255,0.1);
     /* margin-top: 1rem; */
     font-family: 'Poppins', sans-serif;
     /* display: none; */
     backdrop-filter: blur(5px);
     border-bottom: 2px solid rgba(255,255,255,0.2);

}

.hover-underline-animation{
    display: inline-block;
    position: relative;
}

.hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  .hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  

.pointer{
    cursor: pointer;
}

.nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
   padding-top: 1rem;

   
}
.nav-2 ul{
    display: flex;
    color: black;
  
}
.nav-2 li{
    list-style: none;
    margin: 0 3rem 0 3rem;
    font-size: 1.2rem;

}
/* .nav-2{
  font-size: 5vh;
} */
.nav-1{
    padding-left: 3rem;
    color: black;
}
body{
    background-color: white ;
}
.h-1{
    color: white;
    font-family: 'Poppins', sans-serif;
}
.head-content{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
    font-size: 1.5em;
}

.header{
    font-size: 2.2rem;
    cursor: pointer;
    padding: 1rem;
    padding-top: 1rem;
}
.slide-nav{
    color: white;
    
   
}
.slide{
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    padding: 1rem;
   

}
.header-2{
    width: 20em;
    height: 100vh;
    background-color: black;
    z-index: 2;
    display: none;
    position: fixed;
    top: 0px;
    padding: 0.5rem;
   

}
.slide-down ul li{
    font-size: 1.3rem;
    font-family: 'Poppins', sans-serif;
    padding: 1rem;
    cursor: pointer;

}
.slide-cross{
    cursor: pointer;
}
.text{
    color: white;
    display: flex;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1.4rem;
    /* position: fixed; */
    margin-left: auto;
    
    
}
.head{
    display: flex;
    justify-content: space-between;
    height: 4.3rem;
    padding: 0  1rem 0 0;
     background-color: black;
     display: none;
     

}

.slide-head p{
    color: #ffffff;
}


@media (max-width:935px) {
 
  .nav-1 img{
    display: none;
  }
  .nav-2 ul li{
    display: flex;
   
    width: 20vw;
    margin: 0;
    padding-left: 1vh;
    padding-right: 1vh;
  }
  .nav-1 ul{
    padding: 0;
    flex-wrap: wrap;
    flex-direction: column;

  }
}

@media (max-width:479px){
.nav-2 ul{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  ;
  justify-content: center;

}
.nav-2 ul li{
  font-size: 0.5rem
}
}


/* carousel */
.carousel-item active img{
  padding-left: 50px;
  padding-right: 50px;
}


/* content  */
#verticle-line{
  height: 0.5px;
  background-color: black;
}
.content{
  display: flex;
  justify-content: center;
}

.content_full{
  height: 100vh;
}
.start{
  background: url('hbtu.jpg') no-repeat;
  background-size: cover;
    background-position: center;
   height: 100vh;
   background-attachment: fixed;
}


/* footer  */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);

* {
  font-family: Open Sans;
}

section {
  width: 100%;
  display: inline-block;
  background: #333;
  height: 50vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}

.footer-distributed{
  background: #666;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
  width: 40%;
}

/* The company logo */

.footer-distributed h3{
  color:  #ffffff;
  font: normal 36px 'Open Sans', cursive;
  margin: 0;
}

.footer-distributed h3 span{
  color:  lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links{
  color:  #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a{
  display:inline-block;
  line-height: 1.8;
  font-weight:400;
  text-decoration: none;
  color:  inherit;
}

.footer-distributed .footer-company-name{
  color:  #222;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
  width: 35%;
}

.footer-distributed .footer-center i{
  background-color:  #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p{
  display: inline-block;
  color: #ffffff;
  font-weight:400;
  vertical-align: middle;
  margin:0;
}

.footer-distributed .footer-center p span{
  display:block;
  font-weight: normal;
  font-size:14px;
  line-height:2;
}

.footer-distributed .footer-center p a{
  color:  lightseagreen;
  text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
  width: 20%;
}

.footer-distributed .footer-company-about{
  line-height: 20px;
  color:  #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span{
  display: block;
  color:  #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons{
  margin-top: 25px;
}

.footer-distributed .footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color:  #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

  .footer-distributed{
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i{
    margin-left: 0;
  }

}


/* content  */
.content-1{
  color: black;
  display: flex;
    justify-content: center;
}
.content_full{
  background: rgba(255,255,255,0.1);
}
.content-p{
  margin-right: 20vh;
    margin-left: 20vh;
}